/* -------------FOOTER SITE------------- */
footer{
	.container-fluid.footer{
		background: #4b4b4b;
		padding: 60px 0;

		nav{
			a{
				color: $white;
				display: block;
				clear: both;
				font-family: "PTSerif-Regular";
				font-size: 14px;
				margin-bottom: 15px;
			}
		}

		p{
			color: $white;
			font-size: 16px;
		}
	}

	.language{
		a{
			font-family: 'PTSans-Bold';
			color: #a5a5a5;
			font-size: 14px;
			letter-spacing: 1.5px;
			position: relative;

			&:last-child{
				margin-left: 22px;

				&::after {
					content: "•";
					display: block;
					font-family: PTSans-Bold;
					font-weight: normal;
					position: absolute;
					left: -15px;
					top: 0px;
					color: #8d72b1;
				}
			}
		}
		a.selected {
			color: #8d72b1;
		}
	}

	.container-fluid.footer-second{
		background: #373737;
		padding: 25px 0;
		color: #898989;
		font-family: "PTSerif-Regular";
		letter-spacing: 0.2px;
		line-height: 20px;
		
		.cards-icon{
			width: 250px;
			
			img{
				max-width: 100%;
			}
		}
	}
}
/* -------------*FOOTER SITE END*------------- */