/*---------------- USER PANEL --------------- */
.container-fluid#user-panel{
	background: #fff none repeat scroll 0 0;
	bottom: 0;
	-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.36);
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.36);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 1000;
	/* display: none; */
	
	.lable-toggle-userpanel {
		background: darken($default-color, 10%) url(../image/icon/user-panel-icon.png) no-repeat scroll center center;
		height: 75px;
		position: absolute;
		right: -13px;
		top: 0;
		width: 13px;
		cursor: pointer;
	}

	.inner-wrapper{
		height: 100%;
	}

	.inner{
		padding: 0px;
		height: 100%;
		
		.top-block-user-panel {
			background: #8e72af;
			padding: 12px 10px;
			position: relative;
			
			.img-profile-userpanel {
				float: left;
				height: 53px;
				margin-left: 0px;
				margin-top: -2px;
				overflow: hidden;
				position: relative;
				width: 39px;
				margin-right: -2px;
				
				img{
					max-width: 100%;
					max-height: 100%;
				}
			}

			.block-name-info-userpanel {
				float: left;
				position: relative;
				max-width: calc(100% - 40px);
				
				a{
					color: $white;
					display: block;
					font-family: "PTSans-Bold";
					margin-top: 21px;
					padding-left: 12px;
					text-decoration: underline;
					font-size: 16px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
		.wrapp-list-item-userpanel {
			padding-top: 25px;
			
			.item {
				font-family: "PTSans-Bold";
				background: $white;
				border-bottom: 1px solid #F3F3F3;
				cursor: pointer;
				padding: 15px 32px;
				position: relative;
				
				&:hover{
					background: #F3F3F3;
				}
				
				.ico-views::after {
					background: rgba(0, 0, 0, 0) url(../image/icon/icon_userpanel.png) no-repeat scroll left -39px;
				}
				.ico-wink::after {
					background: rgba(0, 0, 0, 0) url(../image/icon/wink.png) no-repeat scroll;
				}
				.ico-like::after {
					background: rgba(0, 0, 0, 0) url(../image/icon/icon_userpanel.png) no-repeat scroll left -115px;
				}
				.ico-fav::after {
    				background: rgba(0, 0, 0, 0) url(../image/icon/icon_userpanel.png) no-repeat scroll left -152px;
    			}
    			.ico-mess::after{
    				background: rgba(0, 0, 0, 0) url(../image/icon/icon_userpanel.png) no-repeat scroll left -192px;
    			}
				.ico {
					
					&::after {
						content: "";
						height: 16px;
						width: 16px;
						position: absolute;
						left: 10px;
						top: 17px;
					}

					.count-item-userpanel {
						display: inline-block;
						position: absolute;
						right: 15px;
						color: #b3b3b3;
						font-family: "PTSans-Regular";			
					}

					.new{
						background: $default-color;
						border-radius: 50%;
						color: $white;
						font-family: "PTSans-Regular";
						font-size: 11px;
						height: 20px;
						min-width: 20px;
						line-height: 10px;
						padding-top: 5px;
						position: absolute;
						right: -10px;
						text-align: center;
						top: 0px;
						vertical-align: middle;
						-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.36);
						-moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.36);
						box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.36);
						
						&::before{
							background: rgba(0, 0, 0, 0) url(../image/icon/dot-item.png) no-repeat scroll center center;
							bottom: 0;
							content: "";
							height: 4px;
							left: 0;
							position: absolute;
							width: 6px;
						}
					}
				}
				.popup {
					width: 300px;
					height: 100%;
					position: fixed;
					top: 0;
					bottom: 0;
					background: $white;
				    border: 3px solid #8d72b1;
				    border-radius: 4px;
					display: none;
					
					.title{
						background: #555555;
						color: #ffffff;
						font-family: "PTSans-Bold";
						font-weight: normal;
						font-size: 15px;
						width: 100%;
						float: left;
						padding: 10px;
						position: relative;

						.reset-new {
							max-width: 40%;
							float: right;
							padding: 0 15px;
							font-family: 'PTSans-Regular';
							font-size: 13px;
							line-height: 29px;
							text-decoration: underline;
							opacity: 0.7;
							cursor: pointer;
							transition: all 0.2s;
							
							&:hover{
								text-decoration: none;
								opacity: 1px;
							}
						}

						.ico {
							float: left;
							position: relative;
							padding-left: 30px;
							line-height: 29px;
							max-width: 60%;
							
							&::after {
								background: url(../image/icon/icon_userpanel_w.png) no-repeat !important;
								top: 8px;
							}
						}
						.ico-views {
							&::after{
							    background-position: left -39px !important;
							}
						}
						.ico-wink {
							&::after {
								    background: transparent url(../image/icon/wink_W.png) no-repeat scroll !important;
							}
						}
						.ico-like {
							&::after {
								background-position: left -115px !important;
							}
						}
						.ico-fav {
							&::after {
								background-position: left -152px !important;
							}
						}
						.ico-mess {
							&::after {
								background-position: left -192px !important;
							}
						}
					}
					.scroll {
						width: 100%;
						overflow: auto;
						height: calc(100% - 49px);
						
						ul.wrapp_for_popup {
							padding: 0px;
							margin: 0px;
							list-style: none;
							
							li {
								height: 84px;
								position: relative;
								background: $white;
								border-bottom: 1px solid #E2E2E2;
								overflow: hidden;
								cursor: default;

								> a {
									background: #F3F3F3;
									cursor: default;
								}

								.photo {
									float: left;
									width: 40px;
									height: 53px;
									transition: width 0.2s, height 0.2s, left 0.25s;
									margin: 15px 20px;
									overflow: hidden;
									
									img {
										max-width: 100%;
										max-height: 100%;
										margin: 0 auto;
									}
								}
								.text{
									float: left;
									max-width: calc(100% - 100px);
									width: 100%;

									.wrap {
										margin: 20px 0;
									    width: calc(100% - 86px);
									    float: left;
										
										a, span {
											text-decoration: underline;
											color: #C4C4C4;
											font-family: "PTSans-Regular";
											display: inline-block;
											width: 90px;
											font-size: 16px;
											max-width: 90px;
											white-space: nowrap;
											overflow: hidden;
											text-overflow: ellipsis;
											cursor: pointer;
											
											&:hover {
												text-decoration: none;
											}
										}

										.name {
											font-family: "PTSans-Bold";
											font-size: 14px;
											letter-spacing: 0px;
										}

										.balance-text {
											font-family: "PTSans-Bold";
											font-size: 14px;
											line-height: 25px;
											letter-spacing: 0px;
										}

										.balance-text.balance-text-chat {
											color: $default-color;
										}

										.special-actions-buttons {
											display: none;
											padding-top: 5px;
											
											.ico{
												display: inline-block;
												float: left;
												position: relative;
												width: 16px;
												height: 16px;
												margin: 4px 5px;
												
												&:last-child {
													margin-right: 0px;
												}

												&:first-child {
													margin-left: 0px;
												}

												&::after {
													left: 0;
													top: 0;
													background: rgba(0, 0, 0, 0) url(../image/icon/icon_userpanel_pur.png) no-repeat;
													opacity: 0.65;
												}

												&:hover::after {
													opacity: 1;
												}
											}
											
											.ico-chat {
												background: $default-color;
												font-size: 11px;
												color: $white;
												cursor: pointer;
												line-height: 20px;
												width: 78px;
												text-align: center;
												border-radius: 4px;
												margin-top: 0px;
												text-decoration: none;
												height: auto;
												
												&::after {
													content: '';
													display: none;
												}

												&:hover {
													background: #7ED4C9;
												}
											}
											.ico-mess::after {
												background-position: left -192px;
											}
											.ico-wink::after{
												background-position: left -78px;
											}
											.ico-like::after{
												background-position: left -115px;
											}
											.ico-fav::after {
												background-position: left -152px;
											}
										}
									}

									.time {
										float: right;
										color: #C4C4C4;
										font-family: "PTSans-Regular";
										font-size: 12px;
										font-weight: normal;
										width: 82px;
										margin: 20px 0px 0 0;
									}
								}

								&:hover {
									background: $white;

									.text{
										.wrap {
											width: 100%;
											
											a {
												color: $default-color;
											}
											
											.username{
												float: left;
											}

											.balance-text {
												text-align: right;
												float: right;
												line-height: 18px;
											}

											.special-actions-buttons {
												display: block;
												clear: both;
											}
										}
										.time {
											display: none;
										}
										
									}
								}
							}

							.not-active {
								position: relative;
								overflow: hidden;
								background: rgba(243, 243, 243, 0.58);
								display: block;
								background: $white;
							}
						}
					}

					.nicescroll-rails {
						left: 285px !important;
						top: 49px !important;
					}
			
				}
				.popup.mess {
					.title{
						.reset-new {
							line-height: 8px;
							clear: both;
							font-size: 12px;
							margin-top: -11px;
						}
						.go_to_mess_link {
							float: right;
							margin-top: -3px;
							padding: 0 15px;
							font-family: $font-family-sans-serif;
							font-size: 12px;
							transition: all 0.2s;
							opacity: 0.7;
							color: #fff;
						}
					}
					.scroll ul.wrapp_for_popup li {
						.text .wrap{
							width: 100%;
							margin: 9px 0;

							.dialog-title {
								font-family: $font-family-sans-serif;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								color: $gray-dark;
							    letter-spacing: 0.4px;
							    width: 60%;
							    cursor: pointer;
							}

							.dialog-text {
								font-family: $font-family-sans-serif;
								font-size: 12px;
								height: 30px;
								width: 96%;
								overflow: hidden;
								color: $gray-dark;
								letter-spacing: 0.4px;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								text-overflow: ellipsis;
							}
						}

						.text .time {
							position: absolute;
							top: -10px;
							right: 10px;
						}

						&:hover {
							.text .wrap{
								.dialog-text {
									display: none;
								}
								.username {
									float: none;
								}
							}
							.text .time {
								display: block;
							}
						}
					}
				}
			}

			.item.open {
				background: #F3F3F3;
				-webkit-box-shadow: inset 0px 3px 7px 2px rgba(0,0,0,0.05);
				-moz-box-shadow: inset 0px 3px 7px 2px rgba(0,0,0,0.05);
				box-shadow: inset 0px 3px 7px 2px rgba(0,0,0,0.05);
				    
				.new {
					display: none;
				}
			}

			.item-openchat {
				color: #f2f2f2;
				text-align: center;
				padding: 5px;
				cursor: pointer;
				border-radius: 3px;
				box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.24);
				max-width: 194px;
				box-sizing: border-box;
				margin: 0 auto;
				margin-top: 14px;
				background: $second-color;
				font-family: 'PTSans-Bold';
				animation: 5s linear 0s normal none infinite running pulsate;
				text-shadow: 0 0px rgba(0, 0, 0, 0.5);
				
				&:hover{
				}
			}
			.item.item-balance {
				color: $second-color;
				
				.count-item-userpanel {
					font-family: "PTSans-Bold";
					color: $second-color;	
				}

				.ico-balance::after {
					background: rgba(0, 0, 0, 0) url(../image/icon/icon_userpanel.png) no-repeat scroll left top;
				}			
			}
		}
		.block-bottom-userpanel {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			
			.more-option-userpanel {
				background: #f9f9f9;
				cursor: pointer;
				display: inline-block;
				float: left;
				font-family: "PTSans-Bold";
				font-size: 12px;
				height: 72px;
				padding-top: 42px;
				position: relative;
				text-align: center;
				width: 40%;
				
				&::after {
					background: rgba(0, 0, 0, 0) url(../image/icon/bottom_userpanel.png) no-repeat scroll left top;
					content: "";
					height: 10px;
					left: -50%;
					margin: 0 auto;
					position: absolute;
					right: -50%;
					top: 27px;
					width: 22px;
				}

				&:hover{
					background: $default-color;
					color: $white;
					text-decoration: underline;
					border-color: $default-color;
				
					&:active{
						webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
						box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
					}
					
					&::after{
					    background-position: left bottom;
					    top: 22px;
					}
				}

				.setup-menu-more-userpanel-hide {
					bottom: 72px;
					left: 0;
					position: absolute;
					width: 100%;
					display: none;
					margin-bottom: 0px;
					
					li {
						background: $default-color;
						border-bottom: 1px solid darken($default-color, 3%);
						clear: both;
						color: #b29ace;
						font-family: "PTSans-Bold";
						font-size: 12px;
						font-weight: normal;
						height: 36px;
						width: 100%;
						
						a {
							color: inherit;
							display: table-cell;
							float: left;
							font-size: inherit;
							font-weight: inherit;
							max-height: 100%;
							outline: medium none;
							padding-bottom: 8px;
							padding-top: 7px;
							text-align: center;
							text-decoration: none;
							vertical-align: middle;
							width: 100%;
							line-height: 18px;
						}

						form{ 
							height: 100%;
							
							button {
								margin: 0px;
								padding: 0px;
								height: 100%;
								width: 100%;
								outline: none;
								background: transparent;
								border: none;
							}
						}

						&:hover {
							color: #ffffff;
							background: #7B609A;
							
							&:active{
								webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
								box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
							}
						}
					}

					li.edit_profile {
						display: none;
					}
				}
			}

			.more-option-userpanel.open{
				webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
				box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
				background: darken($default-color, 4%);
				color: $white;
				
				&:hover{
					background: darken($default-color, 4%);
					color: $white;
					text-decoration: underline;
					border-color: darken($default-color, 4%);
					
				}
				&::after{
					background-position: left bottom;
					top: 22px;
				}
			}
				
			.profile-edit-option-userpanel {
				background: #f9f9f9;
				display: inline-block;
				float: left;
				font-family: "PTSans-Bold";
				font-size: 12px;
				height: 72px;
				padding-top: 42px;
				position: relative;
				text-align: center;
				width: 60%;
				border-left: 1px solid #dedede;
				
				&::after {
					background: rgba(0, 0, 0, 0) url(../image/icon/bottom_userpanel.png) no-repeat scroll right top;
					content: "";
					height: 22px;
					left: -50%;
					margin: 0 auto;
					position: absolute;
					right: -50%;
					top: 17px;
					width: 22px;
				}
				&:hover{
					background: $default-color;
					color: $white;
					text-decoration: underline;
					border-color: $default-color;
					
					&:active{
						webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
						box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
					}
					
					&::after{
					    background-position: right bottom;
					}
				}
			}
		}
	}
}
.container-fluid#user-panel.full{
	width: 220px;
	.wrapp-list-item-userpanel {
		
		.item {

			.popup {
				left: 233px;
			}
		}
	}
}
.container-fluid#user-panel.mini{
	
}
/* ------------- *USER PANEL END* ------------*/