// FOOTER
footer
	.container-fluid.footer
			.container
				.row
					.col-md-2.col-md-offset-3.col-sm-4.col-xs-6
						nav
							a.text-center(data-toggle='modal', data-target='.login-modal') Login
							a.text-center(href='/our-dating-site/license-terms/') License terms
							a.text-center(href='/our-dating-site/legal-terms/') Legal terms of site
							a.text-center(href='/our-dating-site/price-policy/') Price policy
							a.text-center(href='/agency') Cooperation
					.col-md-2.col-sm-4.col-xs-6
						nav
							a.text-center(href='/tender-bride-site/our-dating-website/') Our website
							a.text-center(href='/tender-bride-site/against-scam/') Against scam
							a.text-center(href='/tender-bride-site/contact-details/') Contact details
					.col-md-2.col-sm-4.col-xs-6
						nav
							a.text-center(href='/search/?online=1') Girls online
							a.text-center(href='/search/') Advanced search
							a.text-center(href='/search/?webcam=1') Ladies with webcam
				.row
					.col-md-12.language.text-center
						p(style='margin-top:20px;') Choose a language of site
						a.clear(href='https://ru.tenderbride.com') RU
						a.clear.selected(href='https://tenderbride.com/') ENG
	.container-fluid.footer-second
		.container
				.row
					.col-md-6.col-xs-6
						span Tender Bride.com © 2014-2017
					.col-md-6.col-xs-6
						.pull-right.cards-icon
							img(src='../public/image/icon/cards-icon.png', alt='cards_icon')
// *FOOTER END*