// MENU BLOCK
.navbar
	.container
		.row
			.navbar-header
				button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
					span.glyphicon.glyphicon-align-justify
				a.navbar-brand(href='#')
							img(src='../public/image/logo_small.png', alt='Tender Bride')

			.collapse.navbar-collapse.navbar-responsive-collapse
				ul.nav.navbar-nav.center-block
					li
						a(href='#')
							.online_count_label Online
							|GIRLS ONLINE
					li
						a(href='#') Our website
					li.logo-site
						a(href='/')
							img(src='../public/image/logo.png', alt='tenderbride.com')
					li
						a(href='#') Price policy
					li
						a(href='#') Contact details


// *MENU BLOCK END*

