html
	head
		// -------------------------------------------------------- 
		// --------------------------META-------------------------- 
		// -------------------------------------------------------- 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title Online Dating Site for Men. Find Your Love - TenderBride.com
		// -------------------------------------------------------- 
		// ------------------------*META END*---------------------- 
		// -------------------------------------------------------- 
		// --------------------------STYLES------------------------ 
		// -------------------------------------------------------- 
		// ***************** font-awesome styles ****************** 
		link(rel='stylesheet', href='../public/css/_lib/font-awesome.min.css')
		// ******************** animate styles ******************** 
		link(rel='stylesheet', href='../public/css/_lib/animate.min.css')
		//  ***************** default TB styles ******************* 
		link(rel='stylesheet', href='../public/css/main.css')
		// -------------------------------------------------------- 
		// -----------------------*STYLES END*--------------------- 
		// -------------------------------------------------------- 
		// ***************** Jquery plugin include **************** 
		// -------------------------------------------------------- 
		script(src='../public/(JS)EcmaScript/_lib/jquery-3.1.1.min.js')
	body.index_page

		include include/header
		include include/index/slider
		include include/index/theBestSection
		include include/index/JustFindSection
		include include/index/realStory
		include include/index/realMen
		include include/index/brideForYou
		include include/index/dreamingAboutMen
		include include/footer
		include include/chatPopup
		include include/index/_modals

		// -------------------------------------------------------- 
		// ------------------------SCRIPTS------------------------- 
		// -------------------------------------------------------- 
		// ***************** Bootstrap js include *****************
		script(src='../public/(JS)EcmaScript/_lib/bootstrap.min.js')
		// ****************** default TB EcmaScript ***************
		script(src='../public/(JS)EcmaScript/indexPage.main.js')
		// -------------------------------------------------------- 
		// ----------------------*SCRIPTS END*--------------------- 
		// -------------------------------------------------------- 