html
	head
		// -------------------------------------------------------- 
		// --------------------------META-------------------------- 
		// -------------------------------------------------------- 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title Online Dating Site for Men. Find Your Love - TenderBride.com
		// -------------------------------------------------------- 
		// ------------------------*META END*---------------------- 
		// -------------------------------------------------------- 
		// --------------------------STYLES------------------------ 
		// -------------------------------------------------------- 
		// ***************** font-awesome styles ****************** 
		link(rel='stylesheet', href='../public/css/_lib/font-awesome.min.css')
		// ******************** animate styles ******************** 
		link(rel='stylesheet', href='../public/css/_lib/animate.min.css')
		// ********************* JQ UI SLEDER ******************** 
		link(rel='stylesheet', href='../public/css/_lib/jquery-ui.minSlider.css')
		//  ***************** default TB styles ******************* 
		link(rel='stylesheet', href='../public/css/main.css')
		// -------------------------------------------------------- 
		// -----------------------*STYLES END*--------------------- 
		// -------------------------------------------------------- 
		// ***************** Jquery plugin include **************** 
		// -------------------------------------------------------- 
		script(src='../public/(JS)EcmaScript/_lib/jquery-3.1.1.min.js')
	body.user
		// ---------------------- SEARCH PAGE --------------------- 

		include include/header
		// ---------------------- USER PANEL --------------------- 
		//include include/user-panel
		// ------------------- *USER PANEL END* ------------------ 
		include include/profile/user-info
		include include/profile/bottom-section-tabs
		include include/footer

		// ------------------- *SEARCH PAGE END* ------------------ 
		// -------------------------------------------------------- 
		// ------------------------SCRIPTS------------------------- 
		// -------------------------------------------------------- 
		// ***************** Bootstrap js include *****************
		script(src='../public/(JS)EcmaScript/_lib/bootstrap.min.js')
		// ****************** iCHeck js include *******************
		script(src='../public/(JS)EcmaScript/_lib/icheck.min.js')
		// ****************** UI SLIDER js include ****************
		script(src='../public/(JS)EcmaScript/_lib/jquery-uiSlider.min.js')
		// ****************** default TB EcmaScript *************** 
		script(src='../public/(JS)EcmaScript/user-panel.js')
		// -------------------------------------------------------- 
		// ----------------------*SCRIPTS END*--------------------- 
		// -------------------------------------------------------- 