// GIRLS OF TENDERBRIDE ARE DREAMING ABOUT MEN
.container-fluid.last-index-block
	.container
		.row
			.col-md-12
				h5.yellow-label GIRLS OF TENDERBRIDE ARE DREAMING ABOUT MEN
		.row
			.col-md-12
				.wrapper-img
					img(src='../public/image/real_story/last.jpg', alt='')
				.wrap-text
					h6 Lady Anna
					.description-item-one
						span.old_this_user 27 years
						span UA, Vinnitsa
					p Hi everybody. My name is Anna, and I 27 years old. I am a successful young girl. I work in the sphere of finance. I have a car and the apartment in the downtown, and don't need the sponsor. I want to find the man of my dream, with which I could spend time with pleasure… going to the cinema, to travel, have sex. I want that he loved me very much. I know you will find me.

// *GIRLS OF TENDERBRIDE ARE DREAMING ABOUT MEN _END_*