// NEW GIRL SECTION
.container-fluid.gray
	.container
		.row
			.col-md-12
				h1.grey-mini NEW GIRLS
				h3.text-center Just find your love
		.row.girl-list
			.col-md-3.col-sm-6.col-xs-6
				.item-user-profile-mini(data-user-id='11111')
					a.clear(href='#')
						.photo-block
							span.online-label.hvr-bounce-in ONLINE
							img(src='../public/image/girls/5.jpg', alt='Evgeniya')
						p.description-item-one
							span.old_this_user 19 years
							span.country_this_user Nikolaev, Ukraine
						.clearfix
						p.name-user-item BlackCat
						.id-descriprion-user-item
							span.id-descript ACCOUNT №100435
					.special-actions-buttons
						.button_item_user_block
							ul
								li
									span.ico.ico-chat.disabled Chat now
								li
									span.ico.ico-mail Send Mail
								li
									span.ico.ico-wink Smile
								li
									span.ico.ico-like LIKE
			.col-md-3.col-sm-6.col-xs-6
				.item-user-profile-mini(data-user-id='100327')
					a.clear(href='#')
						.photo-block
							img(src='../public/image/girls/6.jpg', alt='Evgeniya')
						p.description-item-one
							span.old_this_user 26 years
							span.country_this_user Ukraine
						.clearfix
						p.name-user-item Marina
						.id-descriprion-user-item
							span.id-descript ACCOUNT №100193
							span.has-webcam-label
					.special-actions-buttons
						.button_item_user_block
							ul
								li.disabled
									span.ico.ico-chat.disabled Chat now
								li
									span.ico.ico-mail Send Mail
								li
									span.ico.ico-wink Smile
								li
									span.ico.ico-like LIKE
			.col-md-3.col-sm-6.col-xs-6
				.item-user-profile-mini(data-user-id='100327')
					a.clear(href='#')
						.photo-block
							img(src='../public/image/girls/7.jpg', alt='Evgeniya')
						p.description-item-one
							span.country_this_user Ukraine
						.clearfix
						p.name-user-item Marina
						.id-descriprion-user-item
							span.id-descript ACCOUNT №100011
							span.has-webcam-label
					.special-actions-buttons
						.button_item_user_block
							ul
								li.disabled
									span.ico.ico-chat.disabled Chat now
								li
									span.ico.ico-mail Send Mail
								li
									span.ico.ico-wink Smile
								li
									span.ico.ico-like LIKE
			.col-md-3.col-sm-6.col-xs-6
				.item-user-profile-mini(data-user-id='100327')
					a.clear(href='#')
						.photo-block
							img(src='../public/image/girls/8.jpg', alt='Evgeniya')
						p.description-item-one
							span.old_this_user 20 years
							span.country_this_user Nikolaev, Ukraine
						.clearfix
						p.name-user-item Loya
						.id-descriprion-user-item
							span.id-descript ACCOUNT №100030
							span.has-webcam-label
					.special-actions-buttons
						.button_item_user_block
							ul
								li.disabled
									span.ico.ico-chat.disabled Chat now
								li
									span.ico.ico-mail Send Mail
								li
									span.ico.ico-wink Smile
								li
									span.ico.ico-like LIKE
		.row.padding-bottom
			.col-md-12.text-center
				a.btn.btn-default(href='/search/?new=1') SHOW MORE NEW GIRLS
// *NEW GIRL SECTION END*