//REAL MEN
.container-fluid.real-men
	.row
		.col-md-12
			.container
				.row
					.col-md-12
						h1.grey-mini REAL MEN
						h3.text-center Our clients
				.row
					.slider-real-men.block-center
						//SLIDER
						.carousel.slide.carousel-fade(id='real-men', data-ride='carousel')
							//Указатели
							ol.carousel-indicators
								li.active(data-target='#real-men', data-slide-to='0')
								li(data-target='#real-men', data-slide-to='1')
								li(data-target='#real-men', data-slide-to='2')
							//Указатели end
							//Контент слайда (slider wrap)
							.carousel-inner
								.item.active
									h5.text-center Nick
									p I’m for few months on the website. Happened differently. During this time, I have managed to make friends with many girls. But, i haven’t found love. Frankly speaking, one girl very much was pleasant to me. And I fly to her to Ukraine next week. I don't know, maybe we can create relationship. But I have to give chance to myself. I want thanks administration for the help with flight, housing and the translator. Best wishes, Nick
								.item
									h5.text-center Alex
									p It is the magnificent website with attractive girls and good prices. I spend here much time and derive pleasure from the services of tenderbride. Alex
								.item
									h5.text-center James
									p Thanks to the site tenderbride.com for good service. My problem was solved very quickly. James
							// *Контент слайда (slider wrap) end*
					// *SLEDER END*

// *REAL MEN END*