//REAL STORY SECTION
.container
	.row
		.col-md-12
			h1.grey-mini REAL STORIES
			h3.text-center Just find your love
	.row.padding-top.padding-bottom
		.col-md-6.col-xs-12
			.photo-user-stories
				img(src="../public/image/real_story/1_1.jpg", alt="Marina")
			.stories-text
				h5 Marina, 25 years old (Odessa, Ukraine)
				p Our first meeting was magnificent.  The organization of an appointment was top-level.  We have met at lux restaurant. Live music played especially for us. We have drunk a glass of wine, then we dancing. He has impressed me with his grace. My dream comes true. I have fallen in love from the first appointment. I was lucky. Now, I plan to visit him. I precisely know it my man.  I am overflowed by feelings of love. Many thanks to you tenderbride.
		.col-md-6.col-xs-12
			.photo-user-stories
				img(src="../public/image/real_story/1_2.jpg", alt="Kate")
			.stories-text
					h5 Kate, 29 years old (Kiev, Ukraine)
					p Hello my name is Kate and I 29 years old. My groom is very romantic and inventive.  I have an unforgettable experience of the first appointment. It was via webcam. He has ordered sushi and a bottle of wine delivery to me.  Then the courier has come with a huge bouquet of flowers. We communicated through webcam, ate, drank wine, and clink glasses to monitor. I had a feeling that I know his all my life. We are going to get married. The love overflows me, thanks to all, who has helped me to find my soul mate. Best regards, Kate
// *REAL STORY SECTION END*