// THE BEST GIRL SECTION
.container
	.row
		.col-md-12
			h1.grey-mini THE BEST
			h3.text-center TOP girls on service
	.row.girl-list
		.col-md-3.col-sm-6.col-xs-6
			.item-user-profile-mini(data-user-id='100327')
				a.clear(href='#')
					.photo-block
						img(src='../public/image/girls/1.jpg', alt='Evgeniya')
					p.description-item-one
						span.old_this_user 24 years
						span.country_this_user Ukraine
					.clearfix
					p.name-user-item Evgeniya
					.id-descriprion-user-item
						span.id-descript ACCOUNT №100327
						span.has-webcam-label
				.special-actions-buttons
					.button_item_user_block
						ul
							li.disabled
								span.ico.ico-chat.disabled Chat now
							li
								span.ico.ico-mail Send Mail
							li
								span.ico.ico-wink Smile
							li
								span.ico.ico-like LIKE
		.col-md-3.col-sm-6.col-xs-6
			.item-user-profile-mini(data-user-id='11111')
				a.clear(href='#')
					.photo-block
						span.online-label.hvr-bounce-in ONLINE
						img(src='../public/image/girls/2.jpg', alt='Evgeniya')
					p.description-item-one
						span.old_this_user 22 years
						span.country_this_user Nikolaev, Ukraine
					.clearfix
					p.name-user-item Lovely angel
					.id-descriprion-user-item
						span.id-descript ACCOUNT №100004
				.special-actions-buttons
					.button_item_user_block
						ul
							li
								span.ico.ico-chat.disabled Chat now
							li
								span.ico.ico-mail Send Mail
							li
								span.ico.ico-wink Smile
							li
								span.ico.ico-like LIKE
		.col-md-3.col-sm-6.col-xs-6
			.item-user-profile-mini(data-user-id='100327')
				a.clear(href='#')
					.photo-block
						img(src='../public/image/girls/3.jpg', alt='Evgeniya')
					p.description-item-one
						span.old_this_user 29 years
						span.country_this_user Ukraine
					.clearfix
					p.name-user-item Ekaterina
					.id-descriprion-user-item
						span.id-descript ACCOUNT №100315
						span.has-webcam-label
				.special-actions-buttons
					.button_item_user_block
						ul
							li.disabled
								span.ico.ico-chat.disabled Chat now
							li
								span.ico.ico-mail Send Mail
							li
								span.ico.ico-wink Smile
							li
								span.ico.ico-like LIKE
		.col-md-3.col-sm-6.col-xs-6
			.item-user-profile-mini(data-user-id='100327')
				a.clear(href='#')
					.photo-block
						img(src='../public/image/girls/4.jpg', alt='Evgeniya')
					p.description-item-one
						span.old_this_user 20 years
						span.country_this_user Ukraine
					.clearfix
					p.name-user-item Diana
					.id-descriprion-user-item
						span.id-descript ACCOUNT №100324
						span.has-webcam-label
				.special-actions-buttons
					.button_item_user_block
						ul
							li.disabled
								span.ico.ico-chat.disabled Chat now
							li
								span.ico.ico-mail Send Mail
							li
								span.ico.ico-wink Smile
							li
								span.ico.ico-like LIKE
	.row.padding-bottom
		.col-md-12.text-center
			a.btn.btn-default(href='/search/') GO TO OTHER GIRLS
// *THE BEST GIRL SECTION END*