// ---------------------------------------------------------------------------------------------------
// ---------------------------------------- center column --------------------------------------------
// ---------------------------------------------------------------------------------------------------
.container-fluid.chat-center
	#camera-swf-keeper
		.inner
			.camera-swf.camera-swf-100020

	.newchat-chat-window.opened#newchat-chat-window
		#user-chat-170.user-chat-item
			.user-info-block
				include center_header
			include center_chat

// ---------------------------------------------------------------------------------------------------
// -------------------------------------- *center column END* ----------------------------------------
// ---------------------------------------------------------------------------------------------------