// ---------------------------------------------------------------------------------------------------
// ----------------------------------------- Left column ---------------------------------------------
// ---------------------------------------------------------------------------------------------------
.col-md-3.left-col.newchat-online-list.newchat-users-list#newchat-online-list(data-limit='', data-pages='')
	.navbar.nav-title
		a.link-default.close-chat(onclick='window.close()')
			span
				i.fa.fa-long-arrow-left(aria-hidden='true')
				|Back to my profile
			span.mini
				i.fa.fa-sign-out(aria-hidden='true')

		h4.title 
			span.mini-hide Ready to talk now: 
			span.cnt(data-cnt='16') 16
			span.mini girls
			span.new New messages!
	#sidebar-menu.items
		.item.has-webcam.webcam-online(data-id='100172', data-user-id='100172', data-new='New messages!')
			.inner
				.photo
					img(src='../public/image/girls/1_small.jpg')
					span.new 
						span.mini-hide New messages!
						span.mini 
							i.fa.fa-comments-o(aria-hidden='true')
				.name Julia
				.id 
					span.mini-hide ACCOUNT 
					|№100172
				.webcam
				.clearfix
		.item(data-id='', data-user-id='')
			.inner
				.photo
					img(src='../public/image/girls/2_small.jpg')
				.name Lava_Love
				.id 
					span.mini-hide ACCOUNT 
					|№100172
				.webcam
		.item.has-webcam(data-id='', data-user-id='')
			.inner
				.photo
					img(src='../public/image/girls/3_small.jpg')
				.name MaryMary
				.id 
					span.mini-hide ACCOUNT 
					|№100172
				.webcam
		.item.has-webcam.webcam-online(data-id='100172', data-user-id='100172')
			.inner
				.photo
					img(src='../public/image/girls/1_small.jpg')
				.name Julia
				.id 
					span.mini-hide ACCOUNT 
					|№100172
				.webcam
				.clearfix
		.item(data-id='', data-user-id='')
			.inner
				.photo
					img(src='../public/image/girls/2_small.jpg')
				.name Lava_Love
				.id 
					span.mini-hide ACCOUNT 
					|№100172
				.webcam
		.item.has-webcam(data-id='', data-user-id='')
			.inner
				.photo
					img(src='../public/image/girls/3_small.jpg')
				.name MaryMary
				.id 
					span.mini-hide ACCOUNT 
					|№100172
				.webcam
	.newchat-pager
		.text-center
			a.clear.prev.not-active 
				i.fa.fa-arrow-up(aria-hidden='true')
			a.clear.next
				i.fa.fa-arrow-down(aria-hidden='true')
	a#menu-toggle-left
				i.fa.fa-angle-double-left
				i.fa.fa-angle-double-right
// ---------------------------------------------------------------------------------------------------
// -------------------------------------- *LEFT column END* ------------------------------------------
// ---------------------------------------------------------------------------------------------------