// ---------------------- RESULT SECTION ----------------------
- var x = 5;

.result-wrapper#search-girls-list
	include ../item_user
	include pagination

// ------------------- *RESULT SECTION END* -------------------