// -------- SUB MENU ---------
.popup.animated.slideInUp
	.title
		.ico.ico-balance My credits
		.reset-new Read All
		.clearfix
	.scroll.content.content-scroll(data-lines="5")
		ul.wrapp_for_popup
			li
				a(data-date='2017-02-23 15:58:36', data-user-id='100021')
					.photo
						img(data-url='#' src='https://tenderbride.com/files/users/photos/100021/31fa4d83c9f3d4aa0240e688b464f614_small.jpg')
					.text
						.wrap
							a.username(href='#', data-url='#') Anna
							.balance-text.balance-text-chat(data-tooltip-text='Chat 1 min.') -1.00 credits
							.buttons.special-actions-buttons
								a.ico.ico-chat(href='#', data-tooltip-text='CHAT NOW') CHAT NOW
								a.ico.ico-mess(href='#', data-tooltip-text='Send mail')
								a.ico.ico-wink(onclick='profileAction.wink(100021, this)', data-tooltip-text='Smile')
								a.ico.ico-like(onclick='profileAction.like(100021, this)', data-tooltip-text='Like')
								a.ico.ico-star.ico-fav(data-toggle='Remove from friends', data-text='Add to friends',onclick='profileAction.fav(100021, this, true)', data-tooltip-text='Add to friends')
						.time Febrary 23 at 5:58 PM
			li.not-active
				a(data-date='2017-02-23 15:58:36', data-user-id='100021')
					.photo
						img(data-url='#' src='https://tenderbride.com/files/users/photos/100435/c147da3f7aeb4a3abe86dae3961490bd_small.jpg')
					.text
						.wrap
							a.username(href='#', data-url='#') BlackCat
							.balance-text(data-tooltip-text='Chat 1 min.') -10.00 credits
							.buttons.special-actions-buttons
								a.ico.ico-chat(href='#', data-tooltip-text='CHAT NOW') CHAT NOW
								a.ico.ico-mess(href='#', data-tooltip-text='Send mail')
								a.ico.ico-wink(onclick='profileAction.wink(100021, this)', data-tooltip-text='Smile')
								a.ico.ico-like(onclick='profileAction.like(100021, this)', data-tooltip-text='Like')
								a.ico.ico-star.ico-fav(data-toggle='Remove from friends', data-text='Add to friends',onclick='profileAction.fav(100021, this, true)', data-tooltip-text='Add to friends')
						.time Febrary 23 at 5:58 PM

// ----- *SUB MENU END* ------