// ---------------------- PROFILE CONENT ------------- 
.container
	.row.margin-tb-40
		// ------- USER INFO BLOCK ------- 
		.col-md-6.account-info
			div
				.wrapper-photo
					img(src='https://tenderbride.com/files/users/photos/100077/72e10f34598ced4e01d4ae2b5fe1ff72.jpg')
				.name-user-item Pavel
				.id-descriprion-user-item ACCOUNT №100077
				.wrap-icon-links
					a.ico-chat(onclick='') START CHAT
					a.ico-message(href='#') NEW MAIL
		// ------- USER MENU BLOCK ------- 
		.col-md-6.account-info-box
			.row
				div
					.col-md-6.block-credits.text-center
						.account-credits-title Account balance
						.credits-now 
							i.balance-ico
							|18.00 
							span CREDITS
						a.btn.btn-primary(href='buy/') GET MORE CREDITS
					.col-md-6.links-account
						ul.list-unstyled.pull-right
							li
								a.link-default(href='#') Change personal info
							li
								a.link-default(href='#') Photo gallery
							li
								a.link-default(href='#') Video gallery
							li
								a.link-default(href='#') Change password
							li
								a.link-default(href='#') Support 24/7
					.clearfix
// ------------------- *PROFILE CONENT END* ---------- 